@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde4ba;
    position: relative;
}

.back-button {
    background-color: #F9A826;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button:hover {
    background-color: #fab23f;
}

.back-button i {
    margin-right: 8px;
}

.container {
    width: 80%;
    display: flex;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-box {
    margin: 0.6rem 0;
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 6px #0000001c;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.input-box label {
    flex-grow: 1;
}

.input-box input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin-left: 10px;
}

.input-box input[type="checkbox"]:checked {
    background-color: #F9A826;
    border-color: #F9A826;
}

.button-save-pagamento {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-save-pagamento button {
    background-color: #F9A826;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.button-save-pagamento button a {
    color: #fff;
    text-decoration: none;
}

.button-save-pagamento button:hover {
    background-color: #fab23f;
}


